@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

img {
  width: 100px;
  height: 100px;
}

.TimelineMain {
  padding: 5% 0 5% 0;
}

.TimelineTitle {
  font-family: 'Poppins';
  color: #222222;
  font-size: 18px;
  font-weight: 800;
  padding: 6% 0 5% 0;
}

.TimelineSubtitle {

  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 10% 0;
}

.TimelineInterText {
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 600;
  color: #555555;
  padding: 0 0 10% 0;
}

.ContentDivider {
  cursor: pointer;
  display: grid;
  height: 140px;
  grid-template-columns: 20% 0% 80%;
  background: rgba(255,255,255,0.5);
  -webkit-transition: background .5s ease-out;
  -moz-transition: background .5s ease-out;
  -o-transition: background .5s ease-out;
  transition: background .5s ease-out;
  border-radius: 5px;

}

.Divider {
  width: 0;
  border-right: 1px solid black;
  -webkit-transition: border .5s ease-out;
  -moz-transition: border .5s ease-out;
  -o-transition: border .5s ease-out;
  transition: border 1s ease-out;
}

.Divider::before {
  content: "";
  position: relative;
  border: 5px solid #D2D1D1;
  display: block;
  border-radius: 50%;
  margin: 4px 0 0 -4px;
  top: 0;
  left: 0;
  -webkit-transition: border .5s ease-out;
  -moz-transition: border .5s ease-out;
  -o-transition: border .5s ease-out;
  transition: border .5s ease-out;
}
 

.ContentDivider:hover > .Divider:before {
  width: 0;
  border: 5px solid #5566FE;
  box-shadow: 0px 0px 0px 5px rgba(150, 198, 255, 0.25);

}

.ContentDivider:hover  {
  border-radius: 5px;
  background: rgba(230,230,230,0.4);

}

.ContentLeft { 
  padding: 0 2px 2px 2px;
  word-wrap: break-word;
  margin-right: 10%;
}

.Title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  padding: 0 0 2% 0;
}

.Order {
  font-family: 'Poppins';
  font-weight: 700;
  color: #a5a6a7;
  font-size: 12px;
}

.Details {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  color: #555555;
}

.DocsMain {
  display: flex;
  justify-content: flex-end;
  opacity: 0;

  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}

.Docs {
  padding: 0 5% 0 0;
}

.ContentDivider:hover > div > .DocsMain {
  opacity: 1;

} 


.ContentRight {
  padding: 0 2px 2px 2px;
  margin-left: 5%;
  word-wrap: break-word;
  display: grid;
  grid-template-rows: 75% 20%;
}

.ModalSliderMain {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ModalSliderMain > img {
}

.ModalCloseMain {
  display: flex;
  justify-content: flex-end;
  height: 8%;
}
.ModalClose {
  cursor: pointer;
  width: 50px;
  height: 50px;
}


.ModalMain {
  color: #555555;
  display: flex;
  justify-content: center;
}

.ModalMainMobile {
  color: #555555;
  justify-content: center;
}



.ModalHeader {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  padding: 0 0 10% 0;
  display: flex;
  align-items: center;

}

.ModalContentMain {
  width: 40%;
}
.aliceCarousel {
  width: 40%;
  padding: 4%;
}



.ModalContentMainMobile {
  width: 95%;
}

.aliceCarouselMobile {
  width: 95%;
}

.ModalContentOne {
  padding: 0 0 10% 0;
}

.ModalTitle {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  padding: 0 0 2% 0;
  display: flex;
  align-items: center;
}
.ModalContent {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
}
.ModalContentStackMain{
  display: flex;
  flex-wrap: wrap;
}
.ModalContentStack{
  padding: 1%;
  margin: 1%;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  border: 0.5px solid #555555;
}
