
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.gaugeContainer {
  height: 14px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #759CFF;
  display: flex;
  align-items: center;
}

.gaugePercentage {
  background-color: #7C99FF;
  height:10px;
  margin-left: 2px;
  border-radius: 10px;
}

.gaugeTitle {
  font-family: 'Poppins';
  font-weight: 500;
  color: #000;
  font-size: 17px

}
.gaugeTitlePercentage {
  color: #7C99FF;
  font-weight: 600;
  padding: 0 0 0 5%;
  align-items: center;
  vertical-align: middle;
  font-size: 12px;
}

.gaugeHeader {
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  padding: 5% 0 2% 0;
}



