.mainRoot {
  width: 70%;
  height: 100%;
}

.mainHeader {
  display: grid;
  background-color: #fff;
  height: 5%;
  width: 100%;
  grid-template-columns: 60% 40%;
}
.mainBody{
  background-color: #fff;
  width: 100%;
  height:95%; 
  display: grid;
  grid-template-columns: 60% 40%;
  overflow-y: scroll;
}
.mainBodyLeft {
  padding: 12% 6% 0 8%;
  display: grid;
  grid-template-rows: 15% 85%;
}
.mainBodyRight {
  display: grid; 
  grid-template-rows: 20% 40% 40%;
}


.mainBodyTimeLine {
  display: grid;
  grid-template-rows: 5% 95%;
}

.mainTimeBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.test {
  height: 2000px;
}

.mainHeaderTitle {
  color: #7C99FF;
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
}

.mainHeaderContent {
  font-weight: 700;
  font-size: 14px;
  padding: 5% 0 10% 0;
}

.mainLine {
  height: 0;
  border: 8px solid #7C99FF;
}

.linkContainer {
  display: flex;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: space-around;
}

.linkStyle {
  text-decoration: none;
  color: inherit;
}

