@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:wght@500&display=swap');

.ProfileDivMain {

  display: flex;
  flex-direction: column;
  padding: 5% 0 10% 0;
}

.ProfileDiv {
  display: flex;
  padding: 0 0 2% 0;
}
.ProfileHeader {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  color: #7C99FF;
}


.ProfileContent {
  font-family: 'Poppins', sans-serif;
  color: #505050;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;

  padding: 0 0 0 10px;
}
