
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:wght@500&display=swap');
.mainBody {
  padding: 4% 0 0 2%;
  height: 100%;
  width: 100%;
}

.ProjectContainer {
  height: 100%;
  width: 100%;

  padding: 0 0 10% 0;
}

.ProjectHeaderTitle {
  padding: 5% 0 5% 2% ;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #7C99FF;
}


.ProjectTableMain {
  height: 70%;
  width: 100%;
  padding: 0 0;
}
.ProjectContentMain {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

}

.ProjectTableHeader {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #F5F9FF;
  padding: 1%;
  border-radius: 10px 10px 0 0;
  display: grid;
  grid-template-columns:25% 10% 10% 45% 15%;
}

.ProjectTableContent {
  display: grid;
  grid-template-columns:25% 10% 10% 45% 15%;

  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 0.8% 0 0.8% 0;
  border-top: 1px solid #CFE8FF;
  border-bottom: 1px solid #CFE8FF;
  align-items: center;
}

.ProjectTableContent:hover {
  background-color: rgba(147, 203, 255, 0.2);
  opacity: .7;
  cursor: pointer;
}


.ProjectInnerText {
  padding: 0 0 0 2%;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 500;
}

.ProjectStackContainer {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap:wrap;
  padding: 2px 1% 2px 1%;
  font-size: 14px;
  font-weight: 500;
}

.ProjectMore {
  visibility: hidden;
}
.ProjectTableContent:hover > .ProjectMore{

  visibility: visible;
}


