
.sidebarRoot {
  background-color: #628EFF;
  height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebarCore {
  height: 60%;
  width: 100%;
  display:flex;
  flex-direction: column;

  align-items: center;
}



.sidebarProfileContainer {
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
}

.sidebarProfileImg {

  background-color: white;
  border-radius: 40%;
}

.sidebarPosition {
  color: #fff;
  padding: 10%;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}



.sidebarName{
  color: #fff;
  padding: 10%;
  font-weight: 700;
  text-align: center;
}



.sidebarIconBox {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;

}
.sidebarIcon {
  cursor: pointer;
  height: 100%;
  width: 25px;
}
.sidebarIcon2 {
  padding: 0 0 0 5%;
  height: 100%;
  width: 30px;
  cursor: pointer;
}
