
.sidebarRoot {
  background-color: #628EFF;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebarCore {
  height: 60%;
  width: 100%;
  display:flex;
  flex-direction: column;

  align-items: center;
}

.sidebarPostion {
  font-family: 'Kanit';
  font-weight: 300;
}


.sidebarProfileContainer {
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
}

.sidebarProfileImg {

  background-color: white;
  border-radius: 40%;
}

.sidebarPosition {
  height: 10%;
  padding: 10% 0 0 0;
  color: #fff;
}



.sidebarIconBox {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;

}
.sidebarIcon {
  height: 100%;
  width: 15%;
}
.sidebarIcon2 {
  padding: 0 0 0 5%;
  height: 100%;
  width: 18%;
}
