
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.TeckStackContainer {
  padding: 10% 0 5% 0;
  display: flex;
  flex-wrap: wrap;

}

.Stack {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 13px;
  padding: 2px 5px 2px 5px;
  height: 24px;
  margin: 1px;
  color: #fff;
  background-color: #7C99FF;
  border-radius: 12px;
  display: flex;
  word-wrap: normal;
  text-align: center;
  align-items: center;
}
